@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}
/*headline*/
.headline{
    text-align: center;
    padding: 8px;
    background-color: #fcd14e;
    width: 100%;
    font-family: 'open sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: normal;
}
a{
    color: teal;
}
a:hover{
    color: black;
    transition: all ease .3s;
}

.main-nav {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;

}

.navbrand {
    width: 100%;
}

.navbrand>a>img {
    width: 220px;
}

.courses {
    width: 100%;
    display: flex;
}

.course {
    padding: 0 5px;
}

.search {
    width: 100%;
    display: flex;
}

.search>input {
    width: 100%;
}

.search>button {
    width: 50px;
    height: 30px;
}

.cart {
    padding: 0 50px;
}

.left {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.left>.login {
    background-color: #049ec0;
    padding: 10px;
    color: aliceblue;
}

.left>.signup {
    background-color: #049ec0;
    padding: 10px;
    color: aliceblue;
}

.hero{
    display: grid;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 550px;
    font-family: "open sans", sans-serif;
    color: white;
}

.main-content {
    align-self: center;
    padding: 0 20px;
}

.heading {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.01;
}

.intro {
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    padding: 10px 0;
}

.input-wrapper {
    width: 100%;
}

.input-wrapper> input {
    width: 400px;
    height: 35px;
    padding: 10px;
}

.input-wrapper> button {
    width: 40px;
    height: 35px;
    background-color: #049ec0;
    color: white;
    display: inline;
    border: none;
}

.line{
    background-color: #049ec0;
    display: flex;
    height: 80px;
    width: 100%;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    vertical-align: baseline;
    font-family: "open sans", sans-serif;
}
.line h4{
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}
.line p{
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 15px;
}
.line i{
    font-size: 50px;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.card-img>a>img {
    max-width: 100%;
    max-height: 100%;
}

.card-body {
    padding: 10px;
}

.container h2{
    color:  #505763;
    font-size: 18px;
    font-weight: 5;
    font-family: "open sans", sans-serif;
}
.right a{
    float: right;
    text-decoration: none;
    font-size: small;
    padding: 15px;
}
small{
    text-decoration: line-through solid rgb(104, 111, 122);
 }

footer {
    display: flex;
    justify-content: space-evenly;
}

footer>img {
    width: 250px;
}

footer>p {
    padding: 20px;
}

footer>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer>ul>li {
    padding: 20px;
}






 
